html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

section,
header,
footer,
nav,
div,
span,
ul,
li,
a {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

header img {
    position: absolute;
    left: 38px;
    top: 0;
    height: 180px;
    width: 164px;
    padding: 50px 30px;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.4);
}

header nav ul {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 50px 60px;
}

header nav li {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0px 22px;
    position: relative;
}

header nav a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 300;
    text-transform: uppercase;
}

header nav a:before,
header nav a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 50%;
    margin-top: -0.5px;
    background: #DB3069;
}

header nav a:before {
    left: -2px;
}

header nav a:after {
    right: 2.5px;
    background: #DB3069;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header nav a:hover:before,
header nav .selected a:before {
    background: #DB3069;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

header nav a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.parallax>use {
    animation: move-forever 36s linear infinite;
    backface-visibility: hidden;
    perspective: 1000;
}

.parallax>use:nth-child(1) {
    animation-delay: -6s;
}

.parallax>use:nth-child(2) {
    animation-delay: -6s;
    animation-duration: 15s;
}

.parallax>use:nth-child(3) {
    animation-delay: -12s;
    animation-duration: 21s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.wave {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 14em;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #1e2756;
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-rendering: geometricPrecision;
    box-sizing: border-box;
}

section {
    float: left;
    display: flex;
    height: 100%;
    padding: 75px 0 0 0;
    margin: 0;
}

section>div {
    width: 50%;
}

.left {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.left img {
    width: 70%;
}

.right {
    color: white;
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right>* {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
    padding: 10px 0;
}

.right h1 {
    font-size: 4rem;
}

.right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.right h3,
.right h4 {
    font-size: 1.3rem;
    line-height: 1.7rem;
    padding: 3px 0;
}

.right h3 {
    font-weight: 500;
    color: #DD2C68;
}

.right h4 {
    font-weight: 400;
}

.right p {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.pink {
    color: #DB3069;
}

.underline {
    padding-bottom: 6px;
    margin-bottom: 16px;
    border-bottom: 4px solid white;
}

.humber-logo {
    display: inline;
    width: 4rem;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.rsvp {
    width: 108px;
    padding: 10px 30px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    background: #DB3069;
    -webkit-box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.75);
}

.rsvp:hover,
.rsvp:active {
    background: #526df2;
}

.social {
    color: white;
    display: inline-block;
    font-size: 2em;
    margin: 0 5px;
}

.social:hover,
.social:active {
    color: #526df2;
}

.social:first-of-type {
    margin-left: 5px;
}

.button {
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
    background: #DB3069;
    -webkit-box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.75);
    display: inline-block;
    transition: all 0.4s ease-out
}

#squad {
    /*    padding-top: 20vh*/
}

.button:hover {
    background: #526df2;
}

.swiper-container {
    width: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.main-slide {
    display: flex;
}

.student-info {
    width: 50%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

.student-image {
    width: 50%;
    padding: 20%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center
}

.student-image img {
    max-width: 100%;
    height: auto;
}

.student-info h1 {
    color: #edeff7;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
    width: 100%;
}

.student-info h3 {
    color: #5068f6;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 30px;
    letter-spacing: 1.3px;
    width: 100%;
}

.student-info p {
    color: #edeff7;
    font-family: 'Ek Mukta';
    margin-left: 20px;
    padding: 6px 0px 18px 30px;
    border-left: 3px solid #5068f6;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    width: 100%;
}

.custom-bullet {
    width: 5px;
    height: 5px;
    background-color: red;
    display: inline-block;
    width: 8%;
    margin: 0% 1%;
    height: 100px;
}

.student-links {
    margin-top: 32px;
    margin-left: 53px;
}

.social-links {
    margin-top: 32px;
}

.social-links a {
    color: #edeff7;
    font-size: 1.8rem;
    height: 100%;
    margin-right: 30px;
}

.thumbnails {
    position: absolute !important;
    bottom: 110px;
    width: 100vw;
    height: 130px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: space-between
}

.thumbnail {
    width: 20%;
    height: 100% !important;
    background-color: #edeff7;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
}

.thumbnail h6 {
    display: inline-block;
    align-self: center;
    font-size: 1rem;
    color: #303030;
    transition: all 0.4s ease;
}

.thumbnail:hover {
    background-color: #526df2
}


.thumb-active {
    background-color: #DB3069;
}

.thumbnail:hover h6,
.thumb-active h6 {
    color: #edeff7;
}

/*prevent many large-by-comparison ripples by shrinking the height*/

@media (max-width: 50em) {
    .content h1 {
        font-size: 12vmax;
    }
}

@media screen and (max-width: 900px) {
    .wave {
        width: 200%;
        height: 10em;
    }
    body {
        padding: 0;
    }
    section>div {
        width: 100%;
    }
    .left {
        padding: 0;
        min-height: 230px;
        justify-content: center;
    }
    .left img {
        width: 70%;
    }
    .right {
        margin-top: 0;
        padding: 0;
    }
    .right h1 {
        font-size: 2rem;
    }
    section {
        display: inline-block;
        padding: 4% 21%;
    }
}

@media screen and (max-width: 650px) {
    html,
    body {
        overflow-y: visible;
    }
    section {
        padding: 10%;
        float: none;
    }
    .left {
        min-height: 280px;
    }
    .left img {
        width: 100%;
    }
    .right h1 {
        font-size: 2rem;
    }
    .right>h2 {
        padding: 10px 0 0 0;
    }
    .right>* {
        padding: 0;
    }
    .right .rsvp {
        padding: 10px 30px;
    }
}
