<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHIFT 2017</title>
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta|Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <script src="https://use.fontawesome.com/5b0bf816fc.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>

<body>
    <header>
        <a href="index.html"><img src="images/logo--colored.svg" alt="Shift 2017 Logo"></a>
        <nav>
            <ul>
                <li class="selected"><a href="#section-section1">Home</a></li>
                <li><a href="#section-section2">Event</a></li>
                <li><a href="#section-section3">Squad</a></li>
                <li><a href="https://www.eventbrite.ca/e/humber-college-presents-shift-tickets-33086495599">RSVP</a></li>
            </ul>
        </nav>
    </header>

    <section data-role="section"  id="section-section1">
        <div class="left">
            <img src="images/logo--colored.svg" alt="">
        </div>
        <div class="right">
            <h1>5 <span class="pink">TO</span> 8 PM</h1>
            <h2><span class="underline">tuesday april 25</span></h2>
            <div class="margin">
                <h2><span class="underline">the burroughes building</span></h2>
                <p>639 queen st w. toronto, on m5v 2b7</p>
            </div>
            <h3>humber college</h3>
            <h4>web design + interactive media</h4>
            <h4>class of 2017 grad show</h4>
            <div class="links">
                <a href="https://www.eventbrite.ca/e/humber-college-presents-shift-tickets-33086495599" class="rsvp">RSVP</a>
                <a href="https://www.facebook.com/HumberInteractive/" class="social facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com/humberdigital?lang=en" class="social twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/groups/4414270" class="social linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>



    <section data-role="section" id="section-section2">
    </section>
    <section data-role="section" id="section-section3">
        <!-- Slider main container -->
        <div class="swiper-container main-slider" id="people" v-cloak>
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div v-for="person in items" class="swiper-slide main-slide">
                    <div class="large-text-container">
                        <h1 class="large-text">{{ person.firstName }} {{ person.lastName }}</h1>
                    </div>
                    <div :style="{ 'background-image': 'url(images/' + person.photoURL + ')' }" class="student-image"></div>
                    <div class="student-info">
                        <h1>{{ person.firstName }} {{ person.lastName }}</h1>
                        <h3>{{ person.skillSet }}</h3>
                        <p>{{ person.introduction }}</p>
                        <div class="student-links">
                            <a :href="person.portfolioLink" class="button">View Portfolio</a>
                            <div class="social-links">

                                <!--FIRST SOCIAL MEDIA ICON-->

                                <a :href="person.linkedin" v-if="person.socialMedia1 == 'linkedin'">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a :href="person.codepen" v-if="person.socialMedia1 == 'codepen'">
                                    <i class="fa fa-codepen" aria-hidden="true"></i>
                                </a>

                                <a :href="person.instagram" v-if="person.socialMedia1 == 'instagram'">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>

                                <a :href="person.github" v-if="person.socialMedia1 == 'github'">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>

                                <a :href="person.dribble" v-if="person.socialMedia1 == 'dribble'">
                                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                                </a>

                                <a :href="person.behance" v-if="person.socialMedia1 == 'behance'">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>

                                <a :href="person.facebook" v-if="person.socialMedia1 == 'facebook'">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>

                                <a :href="person.twitter" v-if="person.socialMedia1 == 'twitter'">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>

                                <!--SECOND SOCIAL MEDIA ICON-->

                                <a :href="person.linkedin" v-if="person.socialMedia2 == 'linkedin'">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a :href="person.codepen" v-if="person.socialMedia2 == 'codepen'">
                                    <i class="fa fa-codepen" aria-hidden="true"></i>
                                </a>

                                <a :href="person.instagram" v-if="person.socialMedia2 == 'instagram'">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>

                                <a :href="person.github" v-if="person.socialMedia2 == 'github'">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>

                                <a :href="person.dribble" v-if="person.socialMedia2 == 'dribble'">
                                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                                </a>

                                <a :href="person.behance" v-if="person.socialMedia2 == 'behance'">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>

                                <a :href="person.facebook" v-if="person.socialMedia2 == 'facebook'">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>

                                <a :href="person.twitter" v-if="person.socialMedia2 == 'twitter'">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>

                                <!--THIRD SOCIAL MEDIA ICON-->

                                <a :href="person.linkedin" v-if="person.socialMedia3 == 'linkedin'">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>

                                <a :href="person.codepen" v-if="person.socialMedia3 == 'codepen'">
                                    <i class="fa fa-codepen" aria-hidden="true"></i>
                                </a>

                                <a :href="person.instagram" v-if="person.socialMedia3 == 'instagram'">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>

                                <a :href="person.github" v-if="person.socialMedia3 == 'github'">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>

                                <a :href="person.dribble" v-if="person.socialMedia3 == 'dribble'">
                                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                                </a>

                                <a :href="person.behance" v-if="person.socialMedia3 == 'behance'">
                                    <i class="fa fa-behance" aria-hidden="true"></i>
                                </a>

                                <a :href="person.facebook" v-if="person.socialMedia3 == 'facebook'">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>

                                <a :href="person.twitter" v-if="person.socialMedia3 == 'twitter'">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->


            <div class="thumbnails">
                <div v-for="person in items" class="thumbnail">
                    <h6>{{ person.firstName }}</h6>        
                </div>
            </div>

<!--            <div class="swiper-pagination"></div>-->
        </div>
    </section>


    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none">
		<defs>
			<path id="gentle-wave" d="m -160,44.4 c 30,0 58,
		-18 87.7,-18 30.3,0 58.3,
		18 87.3,18 30,0 58,-18 88,
		-18 30,0 58,18 88,18 l 0,
		34.5 -351,0 z" />
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="50" y="0" fill="#a21f4b" />
			<use xlink:href="#gentle-wave" x="50" y="3" fill="#c72b5f" />
			<use xlink:href="#gentle-wave" x="50" y="6" fill="#dd2c68" />
		</g>
	</svg>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="js/jquery.horizonScroll.js"></script>
    <script src="js/firebase.js"></script>
    <script src="js/script.js"></script>

</body>

</html>
